Repository surfesta/surfesta, pull requests merged in 2020-09, with the labels that each got.

#46 server-refactor and feature 비동기처리 async/await 적용, 회원가입유저 썸네일에 디폴트 값 지정
  client/package.json
  client/src/components/atom/profile/ProfileThumb.jsx
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/redux/modules/auth.js
  client/src/utils/mailCheckSchema.js
  server/api/events.js
  server/api/index.js
  server/api/users.js
  server/middlewares/auth.js
  server/models/Event.js
  server/models/User.js
  server/package-lock.json
  server/package.json
  server/server.js
Labels: enhancement, refactor

#58 Feature/sub-nav
  client/src/App.js
  client/src/components/molecule/eventCategories/EnlistedEvents.jsx
  client/src/components/molecule/eventCategories/HostingEvents.jsx
  client/src/components/molecule/eventCategories/LikedEvents.jsx
  client/src/components/organism/SubNav.jsx
  client/src/components/template/NavTemplate.jsx
  client/src/components/template/ProfileTemplate.jsx
  client/src/components/template/ProfileTemplate.scss
  client/src/components/template/SubNavTemplate.jsx
  client/src/components/template/SubNavTemplate.scss
  client/src/pages/MyPage.jsx
  client/src/pages/MyProfile.jsx
Labels: enhancement

#77 feat: themeContext draft
  client/src/App.js
  client/src/components/atom/header/DayButton.jsx
  client/src/components/atom/header/FavButton.jsx
  client/src/components/atom/header/NightButton.jsx
  client/src/components/molecule/header/HeaderRight.jsx
  client/src/components/molecule/header/ThemeIndicator.jsx
  client/src/components/organism/Header.jsx
  client/src/components/organism/Header.scss
  client/src/hooks/useThemeWithLocalStorage.js
Labels: style

#86 style: dark-mode theming draft
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/components/atom/main/SearchButton.jsx
  client/src/components/organism/Header.scss
  client/src/components/organism/Search.jsx
  client/src/hooks/useThemeWithLocalStorage.js
  client/src/services/EventService.js
  client/src/services/UserService.js
  client/src/style/theme.scss
  client/src/utils/RegisterSchema.js
  server/package.json
  server/server.js
Labels: client, style

#89 feat: 로그아웃 회원탈퇴 API 구현
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/atom/profile/ProfileBtn.jsx
  client/src/components/molecule/profile/DeactivateDiv.jsx
  client/src/components/molecule/profile/LogoutDiv.jsx
  client/src/components/organism/Header.jsx
  client/src/components/organism/Logout.jsx
  client/src/components/organism/Logout.scss
  client/src/components/organism/Profile.scss
  client/src/components/template/ProfileTemplate.scss
  client/src/components/template/SubNavTemplate.scss
  client/src/redux/modules/auth.js
  client/src/services/EventService.js
  client/src/services/UserService.js
  server/api/events.js
  server/api/users.js
  server/models/User.js
  server/server.js
Labels: bug, client

#91 fix: login and signup
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/organism/Header.jsx
  client/src/components/organism/Modal.jsx
  client/src/components/organism/Modal.scss
  client/src/index.css
  client/src/redux/modules/auth.js
  client/src/style/common.scss
  server/server.js
Labels: bug, client

#101 fix: login/signup bug
  client/src/App.js
  client/src/components/atom/header/LoginButton.jsx
  client/src/components/atom/header/LoginButton.scss
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/components/organism/Logout.jsx
  client/src/components/template/HeaderTemplate.jsx
  client/src/redux/modules/auth.js
  client/src/services/UserService.js
  server/api/users.js
  server/server.js
Labels: client, server

#105 이벤트 찜하기/참가신청 처리를 용이하게 하는 서버 API 엔드포인트를 수정/추가했습니다.
  README.md
  client/src/components/molecule/main/CardButtons.jsx
  client/src/redux/modules/modal.js
  client/src/services/UserService.js
  server/api/events.js
  server/api/users.js
  server/middlewares/auth.js
  server/models/User.js
Labels: client, documentation, server

#106 로그인버튼 컴포넌트 / README 일부 수정
  client/README.md
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/redux/modules/auth.js
  client/src/services/UserService.js
Labels: bug, documentation

#107 docs: READMD.md added
  README.md
Labels: documentation

#115 server-fix: API edits for enlist and like events
  server/api/events.js
  server/api/uploads.js
  server/api/users.js
  server/models/Event.js
  server/server.js
  server/users.js
Labels: server

#117 server-feat: 회원탈퇴 시 관련된 모든 이벤트 정보 삭제
  server/api/events.js
  server/api/users.js
  server/models/Event.js
Labels: server

#128 fix: 쿠키 보안/유효기한 수정 / 로그인 유효성 검사 개선
  client/src/components/atom/header/StyledErrorMessage.jsx
  client/src/components/atom/header/StyledErrorMessage.scss
  client/src/components/molecule/login/LoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/molecule/login/RegisterForm.jsx
  client/src/components/molecule/login/RegisterForm.scss
  client/src/components/organism/Modal.scss
  client/src/utils/RegisterSchema.js
  server/api/users.js
  server/models/User.js
  server/users.js
Labels: bug, client, server

#129 style: header-style
  client/src/components/atom/header/Logo.scss
  client/src/components/atom/header/PostEventButton.scss
  client/src/components/molecule/header/HeaderRight.scss
  client/src/components/organism/Header.scss
  server/api/users.js
Labels: client, server, style

#131 server: cookie Header configurations by environment and endpoint eidts
  server/api/events.js
  server/api/users.js
  server/middlewares/auth.js
  server/models/User.js
Labels: server

#135 server: API 엔드포인트 추가/테스트
  client/src/App.js
  client/src/components/molecule/header/ThemeIndicator.jsx
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/template/EventsTemplate.jsx
  client/src/hooks/useThemeWithLocalStorage.js
  server/api/events.js
  server/api/users.js
Labels: server

#152 로그인 유효성검사 인터렉션
  client/public/index.html
  client/src/App.js
  client/src/components/Meta.jsx
  client/src/components/atom/header/LoginFailMessage.jsx
  client/src/components/atom/header/StyledErrorMessage.jsx
  client/src/components/atom/profile/ProfileBtn.jsx
  client/src/components/molecule/login/LoginForm.jsx
  client/src/components/molecule/profile/DeactivateDiv.jsx
  client/src/components/molecule/profile/ProfileForm.jsx
  client/src/components/organism/Modal.jsx
  client/src/components/template/EventDetailTemplate.jsx
  client/src/hooks/useThemeWithLocalStorage.js
  client/src/pages/Home.jsx
  client/src/pages/MyPage.jsx
  client/src/redux/modules/auth.js
  client/src/redux/modules/mailCheck.js
  client/src/redux/modules/modal.js
  client/src/utils/LoginSchema.js
  client/src/utils/RegisterSchema.js
  client/src/utils/mailCheckSchema.js
  server/api/users.js
  server/server.js
Labels: client

#170 fix: 로그인 인터렉션, 유효성 검사 버그 / 다크모드 / 헤더 스타일링
  client/src/App.css
  client/src/App.js
  client/src/components/Meta.jsx
  client/src/components/atom/header/LoginFailMessage.jsx
  client/src/components/atom/header/MobileBurger.jsx
  client/src/components/atom/header/PostEventButton.jsx
  client/src/components/atom/header/StyledErrorMessage.scss
  client/src/components/atom/header/UserAvatar.jsx
  client/src/components/molecule/header/HeaderRight.jsx
  client/src/components/molecule/header/HeaderRight.scss
  client/src/components/molecule/header/MobileDrawer.jsx
  client/src/components/molecule/header/MobileDrawer.scss
  client/src/components/molecule/login/LoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/molecule/login/RegisterForm.jsx
  client/src/components/molecule/login/RegisterForm.scss
  client/src/components/molecule/profile/DeactivateDiv.jsx
  client/src/components/molecule/profile/DeactivateModal.jsx
  client/src/components/molecule/profile/DeactivateModal.scss
  client/src/components/organism/Header.jsx
  client/src/components/organism/Header.scss
  client/src/components/organism/MobileBurger.jsx
  client/src/components/organism/MobileHeaderRight.jsx
  client/src/components/organism/Modal.jsx
  client/src/components/organism/Modal.scss
  client/src/components/template/EventDetailTemplate.scss
  client/src/components/template/HeaderTemplate.jsx
  client/src/components/template/SubNavTemplate.jsx
  client/src/pages/MyPage.jsx
  client/src/redux/modules/auth.js
  client/src/utils/RegisterSchema.js
  client/src/utils/mailCheckSchema.js
  server/api/events.js
  server/api/users.js
  server/middlewares/auth.js
Labels: bug, client, server, style

#174 feat: drag&drop file upload + 이벤트 수정시 온라인일 경우 로케이션 디테일 빈문자열로 변경 + 이벤트 수정하기 위치 변경
  client/src/components/atom/main/SettingButtons.jsx
  client/src/components/molecule/createEvent/FileUpload.jsx
  client/src/components/molecule/main/CardButtons.jsx
  client/src/components/molecule/main/CardContent.jsx
  client/src/components/organism/createEvent/EventThumbnail.jsx
  client/src/components/template/reviseEvent/ReviseEventForm.jsx
  client/src/pages/createevent.scss
Labels: client

#176 feat: 프로필 업로드 및 정보 수정 구현
  .prettierrc
  client/package-lock.json
  client/package.json
  client/src/components/atom/header/UserAvatar.jsx
  client/src/components/atom/profile/ProfileBtn.jsx
  client/src/components/atom/profile/ProfileThumb.jsx
  client/src/components/atom/profile/ProfileThumb.scss
  client/src/components/molecule/header/HeaderRight.jsx
  client/src/components/molecule/login/LoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.jsx
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/organism/Header.jsx
  client/src/components/template/EventsTemplate.jsx
  client/src/index.js
  client/src/services/EventService.js
  server/api/users.js
  server/package-lock.json
  server/server.js
Labels: client

#195 Feature/my profile dev
  client/src/components/atom/profile/Password.jsx
  client/src/components/atom/profile/PhoneNumber.jsx
  client/src/components/molecule/profile/ProfileForm.jsx
  client/src/components/molecule/profile/ProfileFormModal.jsx
  client/src/components/organism/Logout.scss
  client/src/components/organism/Profile.scss
  client/src/components/template/ProfileTemplate.scss
Labels: style

#200 feat: dispatch(eventDelete) qr-code(아직 미완)
  client/package-lock.json
  client/package.json
  client/public/img/qr-code.png
  client/public/img/qr_code.svg
  client/src/App.js
  client/src/components/atom/main/DeleteButton.jsx
  client/src/components/atom/main/SettingButtons.jsx
  client/src/components/molecule/createEvent/FileUpload.jsx
  client/src/components/molecule/createEvent/ToastEditor.jsx
  client/src/components/organism/main/Card.scss
  client/src/components/template/createEvent/EventForm.jsx
  client/src/pages/CreateEvent.jsx
  client/src/pages/EventDetail.jsx
  client/src/pages/QrScanner.jsx
  client/src/pages/ReviseEvent.jsx
  client/src/pages/createevent.scss
  client/src/pages/qrscanner.scss
  client/src/redux/modules/auth.js
  client/src/redux/modules/events.js
  client/src/services/UserService.js
  client/src/style/common.scss
  client/src/style/theme.scss
  server/api/uploads.js
Labels: client

#208 feat: host page draft
  client/src/App.js
  client/src/components/atom/main/SettingButtons.jsx
  client/src/components/molecule/UserSlot.jsx
  client/src/components/molecule/UserSlot.scss
  client/src/components/molecule/eventCategories/HostingCard.jsx
  client/src/components/molecule/main/CardButtons.jsx
  client/src/components/organism/AttendeeListing.jsx
  client/src/components/organism/Header.jsx
  client/src/components/organism/UserList.jsx
  client/src/components/organism/main/Card.jsx
  client/src/components/template/SubNavTemplate.jsx
  client/src/components/template/SubNavTemplate.scss
  client/src/components/template/host/HostTemplate.jsx
  client/src/components/template/host/HostTemplate.scss
  client/src/containers/HostingContainer.jsx
  client/src/pages/HostOffice.jsx
  client/src/pages/MyPage.jsx
  client/src/pages/QrScanner.jsx
  client/src/services/UserService.js
  server/api/events.js
  server/api/uploads.js
  server/models/Event.js
  server/models/User.js
Labels: client, enhancement, server, style

#209 client-fix: 새로고침 시, 로그인 여부에 따른 처리 ( 쿠키 설정 변경 )
  client/src/components/molecule/createEvent/FileUpload.jsx
  client/src/components/molecule/createEvent/ToastEditor.jsx
  client/src/components/organism/AttendeeListing.jsx
  client/src/components/organism/Header.jsx
  client/src/components/template/createEvent/EventForm.jsx
  client/src/components/template/host/HostTemplate.jsx
  client/src/components/template/reviseEvent/ReviseEventForm.jsx
  client/src/pages/CreateEvent.jsx
  client/src/pages/HostOffice.jsx
  client/src/pages/MyPage.jsx
  client/src/pages/ReviseEvent.jsx
  client/src/redux/modules/auth.js
  client/src/services/EventService.js
  client/src/services/UploadService.js
  client/src/services/UserService.js
  client/src/utils/getCookieValue.js
Labels: bug, client, enhancement, server

#215 client-feat: 에러바운더리 적용. 이벤트 썸네일 S3 버킷 키정보 변경
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/index.js
  client/src/pages/ErrorPage.jsx
  server/api/uploads.js
Labels: client, enhancement, server

#229 feat: s3 객체 삭제 로직 구현, 모달 팝업은 포탈로 통일, 이벤트 생성 , 수정 페이지에서 로고 클릭시 알림 팝업 및 새로 고침시 알림 팝업, 그 외 스타일 수정 등
  client/src/components/atom/main/EnlistedPageButtons.jsx
  client/src/components/molecule/createEvent/ConfirmBox.jsx
  client/src/components/molecule/createEvent/EventDisclose.jsx
  client/src/components/molecule/createEvent/EventOnlineCheck.jsx
  client/src/components/molecule/createEvent/TermsCheck.jsx
  client/src/components/molecule/createEvent/confirmbox.scss
  client/src/components/molecule/eventCategories/EnlistedCard.jsx
  client/src/components/molecule/eventCategories/EnlistedEvents.jsx
  client/src/components/molecule/main/CardButtons.jsx
  client/src/components/organism/Header.jsx
  client/src/components/organism/createEvent/RouteLeavingGuard.jsx
  client/src/components/organism/main/Card.jsx
  client/src/components/organism/main/Card.scss
  client/src/components/template/createEvent/EventForm.jsx
  client/src/components/template/reviseEvent/ReviseEventForm.jsx
  client/src/containers/EnlistedContainer.jsx
  client/src/pages/CreateEvent.jsx
  client/src/pages/Home.jsx
  client/src/pages/MyPage.jsx
  client/src/pages/ReviseEvent.jsx
  client/src/pages/createevent.scss
  client/src/services/UserService.js
  client/src/style/theme.scss
  server/api/uploads.js
  server/package-lock.json
  server/package.json
  server/server.js
Labels: client, server, style

#232 Feature/profile modal
  client/src/components/atom/profile/ProfileBtn.jsx
  client/src/components/molecule/profile/ProfileForm.jsx
  client/src/components/molecule/profile/SubmitModal.jsx
  client/src/components/molecule/profile/SubmitModal.scss
  client/src/components/organism/Modal.scss
  client/src/components/organism/Profile.jsx
Labels: client, enhancement

#237 style: 마이프로필 스타일링
  client/src/components/organism/Logout.scss
  client/src/components/organism/Profile.jsx
  client/src/components/organism/Profile.scss
  client/src/components/organism/Search.jsx
  client/src/components/template/ProfileTemplate.scss
Labels: style

#238 bugfix: 이벤트 수정이나 생성 완료 시에도 경고팝업 뜨는 문제 해결
  client/src/components/template/createEvent/EventForm.jsx
  client/src/components/template/reviseEvent/ReviseEventForm.jsx
  client/src/pages/CreateEvent.jsx
  client/src/pages/ReviseEvent.jsx
  client/src/style/_mixin.scss
  client/src/style/theme.scss
  server/api/uploads.js
Labels: bug

#243 모바일 로그인 관련 스타일링
  client/src/components/atom/header/LoginButton.jsx
  client/src/components/atom/header/LoginButton.scss
  client/src/components/atom/header/Logo.jsx
  client/src/components/atom/header/Logo.scss
  client/src/components/atom/header/PostEventButton.scss
  client/src/components/molecule/header/HeaderRight.jsx
  client/src/components/molecule/header/HeaderRight.scss
  client/src/components/molecule/header/MobileDrawer.scss
  client/src/components/molecule/login/PreLoginForm.scss
  client/src/components/molecule/profile/DeactivateModal.jsx
  client/src/components/organism/Header.jsx
  client/src/components/organism/Logout.jsx
  client/src/components/organism/Modal.scss
  client/src/components/organism/Profile.scss
  client/src/index.css
  client/src/redux/modules/auth.js
  server/models/User.js
Labels: bug, client, style

#247 fix: 이벤트 수정하기 시 가격 안보이던 문제 해결
  client/.gitignore
  client/src/style/theme.scss
Labels: style

#248 refactor: api key 교체 및 숨김처리
  client/.gitignore
  client/src/components/organism/Search.jsx
  client/src/pages/ErrorPage.jsx
  client/src/pages/ErrorPage.scss
Labels: client, refactor
